#include "resource.h"
#include <windows.h>

STRINGTABLE
BEGIN
	IDS_1 "Hello World"
END

IDI_APP ICON "github.ico"

1 24 "manifest.xml"
  
IDD_CONFIG_DIALOG DIALOGEX 0, 0, 220, 80        //DIALOGEX RESOURCE  
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU  | WS_VISIBLE
CAPTION "Configure"        // CAPTION   STATEMENT  
FONT 8, "MS Shell Dlg", 400, 0, 0x1        // FONT  STATEMENT  
BEGIN  
	COMBOBOX	IDC_LEVEL,10,10,90,80,CBS_DROPDOWNLIST
	LTEXT           "Width",3001,10,30,30,8,SS_NOPREFIX    //  CONTROL  
	LTEXT           "Height",3002,10,45,30,8                        //  CONTROL  
	LTEXT           "Mines",3003,10,60,30,8                        //  CONTROL  
	EDITTEXT        IDC_MAP_WIDTH,40,30,70,10
	EDITTEXT        IDC_MAP_HEIGHT,40,45,70,10
	EDITTEXT        IDC_MAP_MINE_NUM,40,60,70,10
	DEFPUSHBUTTON   "OK",IDOK,150,14,50,20,WS_GROUP                //  CONTROL  
	DEFPUSHBUTTON   "Cancel",IDCANCEL,150,40,50,20,WS_GROUP            //   CONTROL  
END  
